<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
	<display-name>Education Test</display-name>
	
	<!-- FirstServlet -->
	<servlet>
		<servlet-name>First</servlet-name>
		<servlet-class>com.edu.test.FirstServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>First</servlet-name>
		<url-pattern>/Hello</url-pattern>
	</servlet-mapping>
	
	<!-- SecondsServlet -->
	<servlet>
		<servlet-name>Second</servlet-name>
		<servlet-class>com.edu.test.SecondServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Second</servlet-name>
		<url-pattern>/Hello2</url-pattern>
	</servlet-mapping>
	
	<!-- ThirdServlet -->
	<servlet>
		<servlet-name>Third</servlet-name>
		<servlet-class>com.edu.test.ThirdServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Third</servlet-name>
		<url-pattern>/hello3</url-pattern>
	</servlet-mapping>
	
	<!-- AdditionalInfoServlet -->
	<servlet>
		<servlet-name>addInfo</servlet-name>
		<servlet-class>com.edu.test.AdditionalInfoServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>addInfo</servlet-name>
		<url-pattern>/addInfo</url-pattern>
	</servlet-mapping>
	
	<!-- InitParamServlet -->
	<servlet>
		<servlet-name>initParam</servlet-name>
		<servlet-class>com.edu.test.InitParamServlet</servlet-class>
		
		<init-param>
			<param-name>id</param-name>
			<param-value>guest</param-value>
		</init-param>
		
		<init-param>
			<param-name>password</param-name>
			<param-value>1004</param-value>
		</init-param>
		
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>initParam</servlet-name>
		<url-pattern>/initParamTest</url-pattern>
	</servlet-mapping>
	
	<!-- ServletConfigTestServlet -->
	<servlet>
		<servlet-name>servletConfigTest</servlet-name>
		<servlet-class>com.edu.test.ServletConfigTestServlet</servlet-class>
		
		<init-param>
			<param-name>charset</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>servletConfigTest</servlet-name>
		<url-pattern>/servletConfigTest</url-pattern>
	</servlet-mapping>
	
	<!-- ServletContextTest -->
	<context-param>
		<param-name>contextConfig</param-name>
		<param-value>/WEB-INF/context.xml</param-value>
	</context-param>
</web-app>